---
const { siteName } = Astro.props;
---
<footer class="siteFooter">
    <p>
      &copy; {new Date().getFullYear()} {siteName}.
      Powered by <a href="https://astro.build/" rel="noopener">Astro</a>
    </p>
  </footer>
</body>
