---
const { siteName, description, layoutType } = Astro.props;
const Logo = layoutType === 'main' ? 'h1' : 'div';
---

<Logo class="logo">
  <figure>
    <a href="/">
      <img src="/images/1up.png" alt={siteName + ' 로고'}>
      <figcaption>{siteName}</figcaption>
      <p class="tagline">{description}</p>
    </a>
  </figure>
</Logo>
